<div class="content mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Todo Application</span>
      <div class="mdl-layout-spacer"></div>
      <!--<nav class="mdl-navigation">
        <a class="mdl-navigation__link" [routerLink]="links.items">Items</a>
        <a class="mdl-navigation__link" [routerLink]="links.widgets">Widgets</a>
      </nav>-->
    </div>
  </header>
  <main class="mdl-layout__content page-content">
    <router-outlet></router-outlet>
  </main>
  <ngrx-store-log-monitor
    toggleCommand="ctrl-k"
    positionCommand="ctrl-e"
  ></ngrx-store-log-monitor>
</div>
